
<!-- <div class="container"> -->
	<div id="parkingSpotIndex">
<% @parkingspots.each do |ps| %>

<div class="col-sm-3 text-center">
<a href="/parkingspots/<%= ps.id%>">
	<% if ps.image? %>
		<div class=""><%= image_tag ps.image.url(:small), class: "parkingspotpic"%></div>
	<% end %>
</a>
<h6><%= ps.address %></h6>
<h5> <%= number_to_currency(ps.price) %> per day</h5>
</div>
<% end %>

</div>
