#parkingSpotIndex {
	.col-sm-3 {
		margin-top: 50px;
	}
	span {
		font-size: 18px;
	}
	.parkingspotpic {
		border: 1px solid darkgrey;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	}
	.parkingspotpic:hover {
		/*border: 1.5px solid black;*/
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
	}
}

#resForm {
	.start-end {
		margin-bottom: 50px;
	}
	.parkingspotpic {
		border: 2px solid grey;
		border-radius: 5px;
	}
}
