//Reservations show page

#confirmationPage {
	.row {
		margin-top: 50px;
	}
	.col-md-5 {
		margin-top: 40px;
	}
	.confirmationInfo h4 {
		line-height: 30px;
	}
	.confSpan {
		font-size: 16px;
		font-weight: 400;
		font-style: italic;
	}
	.jumbotron h1 {
		font-size: 36px;
	}
}
