// Carousel
.carousel {
	width: 100%;
}
#myCarousel {
	margin-bottom: 50px;
}
.carousel-caption {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 50px;
}
.carousel-control {
	z-index: 12;
}

.carousel-guts {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//marketing section
.rounded-circle {
	border-radius: 50%;
}
.marketing .col-lg-4 {
	text-align: center;
}

.featurette-image {
	overflow: hidden;
	/*margin-left: 30px;*/
}
.featurette-divider {
	margin: 5rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

// contains the phone app buttons
.getapp {
	padding: 20px;
	margin: 20px;
}
#googleplay {
	background-image: image-url("/assets/googleplay.png");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 8px;
	margin: 10px;
	width: 200px;
	height: 60px;
	border: 1px solid black;
	display: inline-block;
}
#applestore {
	background-image: image-url("/assets/applestore.png");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 8px;
	margin: 10px;
	width: 200px;
	height: 60px;
	border: 1px solid black;
	display: inline-block;
}
