<div class="footer text-center">
        © 2018 Copyright:
        <a href="#"> ParkSmart.com </a>
</div>

<style type="text/css"> 
	.footer {
		height: 25px;
		color: lightgrey;
		background-color: #222222;
		width: 100%;
		position: absolute;
		bottom: 0;
		z-index: 15;
	}

	html{
		position: relative;
	}
</style>